@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

    /* CORES PRIMARIAS */
    --color-blue-light: #ADD8E6;
    --color-green-light: #98FB98;
  
    /* CORES SECUNDARIAS */
    --color-gold: #FFD700;
    --color-orange: #FFA500;
  
    /* CORES NEUTRAS */
    --color-gray-light: #D4D4D4;
    --color-gray-dark: #636363;
    --color-white: #FFFFFF;
  
    /* CORES DE ALERTA */
    --color-orangered: #FF4500;
    --color-dodger: #1E90FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(270deg, #c5e3ff, #88d3ff, #5bdeff, #29c7f7);
  background-size: 1000% 1000%;
  animation: gradientAnimation 15s ease infinite;
}